html {
	background-color: #E9EBEE;
}

img {
	/* this says that width is limited to the parent - can't be bigger than that */
	max-width: 100%;
}

#facebook-wrapper {
	/* if we need whole page styles */
}

#header {
	background-color: #3B5998;
	/* overflow hidden enables the header to inherit height from children */
	overflow: hidden;
	width: 100%;
}

#header-inner {
	max-width: 900px;
	margin:  auto;
}

#left-header {

}

#fb-logo {
	/* div must have height and width or we won't see anything */
	height: 24px;
	width: 24px;
	/* background images don't stretch the div out, they just fill up the div */
	background-image: url('fb_sprite.png');
	/* below copied from FB inspect - selecting the position of the appropriate image in the sprite*/
	background-size: 26px 905px;
    background-position: 0 -163px;
    margin-left: 10px;
}

#fb-logo, #fb-search {
	float:  left;
	margin-left: 10px;
	margin-top: 9px;
}

#fb-search {
	width: 50%;
}

#fb-search input {
	border-radius: 5px;
	width: 200px;
 	height: 21px;
    padding-top: 2px;
    height: 26px;
    position: relative;
    width: 100%;
    bottom: 5px;
}

#right-header {
	float: right;
	word-spacing: 1em;
}

#right-header div {
	float: left;
}

#small-avatar {
	height: 24px;
	width: 24px;
	margin-top: 9px;
    margin-right: -23px;
}


/*this is a catch-all for the 3 social icon divs */
.social-icon {
/* 	has to have a height so that the sprites will fit - the overall div didn't have height
 */	height: 24px;
	width: 24px;
	/* only have to put the background image url here because friends/messages/notifications all use the same sprite url - if only some of the classes used it and not the others, then it would have to be applied to the ones using the sprite url */
	background-image: url('fb_sprite.png');
	/* all 4 rules with social icon will inherit the same background size, so it's only placed here */
	background-size: 26px 905px;
	margin-left: 5px;
}
/* this is specific to the friends div */
.friends {
    background-position: 0 -188px;
}

/* this is specific to the messages div */
.messages {
	background-position: 0 -338px;
}

/* this is specific to the notifications div */
.notifications {
	background-position: 0 -238px;
}

.lock {
	background-position: 0 -859px;
	height: 16px;
	/* this will override the social icon margin */
	margin-left: 10px;
	/* border-left:  1px solid #444;
	padding-left:  10px; */
}

.down-arrow {
	background-position: 0 -825px;
	height: 16px;
}

.spacer {
	line-height: 40px;
	margin: 0 10px;
	padding-left: 5px;
}

#cover-photo-wrapper {
	max-width: 900px;
	margin:  auto;
	width: 100%;
}

#cover-photo-lower {
	position: relative;
}

#small-camera {
	height: 30px;
	width: 28px;
	background-image: url('interactive_sprites_FB.png');
	background-size: 27px 287px;
	background-position: 0 0;
	z-index: 3;
	position: absolute;
	left:  10px;
	top:  138px;
}

#cover-photo-right {
	margin-top: -35px;
}

#big-photo {
	max-height: 350px;
	overflow: hidden;
}

#big-photo img {
	width: 100%;
}

#big-avatar {
	float: left;
	height: 168px;
	width: 168px;
	position: absolute;
	z-index: 2;
	top:  -110px;
	left: 15px;
}

#big-avatar img {
	
}

#avatar-name {
	float: left; 
	padding-left: 30px;
	padding-top: 12px;
	font-family: -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
	color:  white;
}

#home-link {
	padding-left: 15px;
	padding-top: 12px;
}

#big-avatar-name {
	float: left; 
	padding-left: 30px;
	z-index: 1;
	position: relative;
	margin-left: 173px;
	color:  white;
	font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

#cover-buttons {
	float:  right;
	position: relative;
	padding-right: 20px;
	letter-spacing: .5em;
}

#cover-menu {
	width:  100%;
	padding-bottom: 12px;
	background-color: #FFFFFF;
	max-width: 900px;
	overflow: hidden;
	text-align: center;
}

.cover-menu-item {
	display: inline-block;
	list-style-type: none;
	padding-top: 13px;
	padding-right: 10px;
	padding-left: 20px;
}

.cover-menu-item:last-child {
	margin-right: 128px;
}

#bottom-half {
	max-width:  900px;
	margin:  auto;
	width: 100%;
}

#left-column-content {
	width: 30%;
	position: absolute;
	height: 100px;
}

#right-column-content {
	width: 60%;
}

#intro {
	border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
}