img {
	width: 100%;
}

body {
	background-color: #E9EBEE;
}

#header {
	position: fixed;
	background-color: #3B5998;
	height:  42px;
	width: 100%;
	z-index: 1;
}

#inner-header {
	/* make the background color bright for debugging purposes */
	background-color: #3B5998; 
	height:  42px;
	width: 80%;
	margin:  auto;
	/* position: relative; */
	/* bottom:  16px; */
}

#left-header {
	float:  left;
}

#right-header {
	float:  right;
}

#fb-logo {
	float: left;
	background-image: url('fb_sprite.png');
	background-size: 26px 905px;
	background-position: 0 -163px;
	height: 24px;
	width: 24px;
	margin-top: 8px;
}

#header-search {
	float:  left;
}
input {
	float: left;
    margin-top: 1px;
	padding-right: 240px;
	height:  17px;
	margin-left:  7px;
	margin-top: 8px;
	border-radius: 5px;
}
button {
	height:  25px;
	width:  31px;
	float:  right;
	margin-top: 8px;
	padding-top: 2px;
	padding-bottom: 0;
	border-radius: 5px;
	background-color: #f6f7f9;
}

#spyglass {
	background-image: url('fb-sprite-3.png');
	background-position: -54px -207px;
	height:  18px;
}

.header-icon {
	float:  left;
}

.header-icon.social {
	float:  left;
	background-image: url('fb_sprite.png');
	height:  24px;
	width:  24px;
	background-size: 26px 905px;
	margin-left: 15px;
	margin-top: 8px;
}

#spacer {
	float:  left;
	margin-top: 13px;
}

#small-avatar {
	float:  left;
	height: 24px;
	width: 24px;
	background-image: url('Liz_FB.png');
	background-size: 24px 24px;
	margin-right: 9px;
	margin-top: 8px;
}

#small-name {
	margin-right: 10px;
	margin-top: 13px;
	font-family: sans-serif;
	font-size: 10pt;
	color:  white;
}

#header-home {
	margin-left: 10px;
	margin-top: 12px;
	font-family: sans-serif;
	font-size: 10pt;
	color:  white;
}
/* apply background position, size and url to all the little logos in the right header */
#friends-icon {
	background-position: 0 -188px;
}

#msg-icon {
	background-position: 0 -338px;
}

#small-globe {
	background-position: 0 -238px;
	margin-right: 14px;
}

#small-lock {
	background-position: 3px -854px;
}

#small-dropdown {
	background-position: 0 -821px;
}

/* cover photo styling starts here */
/* make position relative */
#cover-photo-with-menu {
	margin-top: 42px;
	max-width: 900px;
	height: 500px;
	margin:  auto;
}

#small-camera {
	z-index: 2;
	position: absolute;
	background-image: url('interactive_sprites_FB.png');
	width: 26px;
    height: 31px;
    background-position: 0 0;
    background-size: 26px 383px;
    top: 60px;
    left: 147px;
}

#cover-photo {
	width: 851px;
	height: 413px;
}

#menu {
	float: left;
	height:  50px;
	width: 94.4%;
	border-bottom: 1px solid #e9eaed;
	border-left: 1px solid #e9eaed;
	border-right: 1px solid #e9eaed;
	background-color: #FFFFFF
}

.menu-item {
	float: left;
	padding: 17px;
	border-right: 1px solid #e9eaed;
	font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color:  #365899;

}

.menu-item:first-child {
	margin-left: 200px;
	border-left: 1px solid #e9eaed;
}
/* make position absolute - nest it within the cover photo with menu div in order to overlay into that div */
#pic-and-buttons-parent {
	margin-top: 42px;
	height:  168px;
	max-width: 900px;
	margin: auto;
	position: relative;
    bottom: 227px;
    left: 18px;
}

#pic-and-buttons {
	width: 851px;
	height: 413px;
}

#profile-pic {
}

#profile-pic img{
	height: 168px;
	width: 168px;
	border-radius: 5px;
}

#profile-name {
	float: left;
	position: relative;
    bottom: 72px;
    left: 183px;
    color:  white;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

#activity-buttons button {
	margin-left: 10px;
	padding-bottom: 3px;
    padding-left: 4px;
    margin-right: 7px;
    height: 35px;
    width: 120px;
    position: relative;
    bottom: 87px;
    right: 66px;
}

#bottom-half-parent {
	margin-top: 42px;
	height:  168px;
	max-width: 900px;
	margin: auto;
	position: relative;
    bottom: 187px;
}

#bottom-half {
	width: 851px;
	height: 413px;
}