img {
	width: 100%;
}

body {
	background-color: #E9EBEE;
}

#header {
	position: fixed;
	background-color: #3B5998;
	height:  42px;
	width: 100%;
	z-index: 1;
}

#inner-header {
	/* make the background color bright for debugging purposes */
	background-color: #3B5998; 
	height:  42px;
	width: 80%;
	margin:  auto;
	/* position: relative; */
	/* bottom:  16px; */
}

#left-header {
	float:  left;
}

#right-header {
	float:  right;
}

#fb-logo {
	float: left;
	background-image: url('fb_sprite.png');
	background-size: 26px 905px;
	background-position: 0 -163px;
	height: 24px;
	width: 24px;
	margin-top: 8px;
}

#header-search {
	float:  left;
}
input {
	float: left;
    margin-top: 1px;
	padding-right: 240px;
	height:  17px;
	margin-left:  7px;
	margin-top: 8px;
	border-radius: 5px;
}
button {
	height:  25px;
	width:  31px;
	float:  right;
	margin-top: 8px;
	padding-top: 2px;
	padding-bottom: 0;
	border-radius: 5px;
	background-color: #f6f7f9;
}

#spyglass {
	background-image: url('fb-sprite-3.png');
	background-position: -54px -207px;
	height:  18px;
}

.header-icon {
	float:  left;
}

.header-icon.social {
	float:  left;
	background-image: url('fb_sprite.png');
	height:  24px;
	width:  24px;
	background-size: 26px 905px;
	margin-left: 15px;
	margin-top: 8px;
}

#spacer {
	float:  left;
	margin-top: 13px;
}

#small-avatar {
	float:  left;
	height: 24px;
	width: 24px;
	background-image: url('Liz_FB.png');
	background-size: 24px 24px;
	margin-right: 9px;
	margin-top: 8px;
}

#small-name {
	margin-right: 10px;
	margin-top: 13px;
	font-family: sans-serif;
	font-size: 10pt;
	color:  white;
}

#header-home {
	margin-left: 10px;
	margin-top: 12px;
	font-family: sans-serif;
	font-size: 10pt;
	color:  white;
}
/* apply background position, size and url to all the little logos in the right header */
#friends-icon {
	background-position: 0 -188px;
}

#msg-icon {
	background-position: 0 -338px;
}

#small-globe {
	background-position: 0 -238px;
	margin-right: 14px;
}

#small-lock {
	background-position: 3px -854px;
}

#small-dropdown {
	background-position: 0 -821px;
}

/* cover photo styling starts here */
/* make position relative */
#cover-photo-with-menu {
	margin-top: 42px;
	max-width: 900px;
	height: 500px;
	margin:  auto;
}

#small-camera {
	/* z-index: 1; */
	position: absolute;
	background-image: url('interactive_sprites_FB.png');
	width: 26px;
    height: 31px;
    background-position: 0 0;
    background-size: 26px 383px;
    top: 60px;
    left: 175px;
}

#cover-photo {
	width: 851px;
	height: 413px;
}

#menu {
	float: left;
	height:  50px;
	width: 94.4%;
	border-bottom: 1px solid #e9eaed;
	border-left: 1px solid #e9eaed;
	border-right: 1px solid #e9eaed;
	background-color: #FFFFFF
}

.menu-item {
	float: left;
	padding: 17px;
	border-right: 1px solid #e9eaed;
	font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color:  #365899;

}

.menu-item:first-child {
	margin-left: 200px;
	border-left: 1px solid #e9eaed;
}
/* make position absolute - nest it within the cover photo with menu div in order to overlay into that div */
#pic-and-buttons-parent {
	margin-top: 42px;
	height:  168px;
	max-width: 900px;
	margin: auto;
	position: relative;
    bottom: 227px;
    left: 18px;
}

#pic-and-buttons {
	width: 851px;
	height: 413px;
}

#profile-pic {
}

#profile-pic img{
	height: 168px;
	width: 168px;
	border-radius: 5px;
}

#profile-name {
	float: left;
	position: relative;
    bottom: 72px;
    left: 183px;
    color:  white;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

#activity-buttons button {
	margin-left: 10px;
	padding-bottom: 3px;
    padding-left: 4px;
    margin-right: 7px;
    height: 35px;
    width: 120px;
    position: relative;
    bottom: 87px;
    right: 66px;
}

#bottom-half-parent {
	margin-top: 42px;
	height:  900px;
	max-width: 900px;
	margin: auto;
	position: relative;
    bottom: 187px;
    /* for debugging */
	/* border:  1px solid; */
}

#bottom-half {
	width: 851px;
	height: 900px;
	/* for debugging */
	/* border:  1px solid; */
}

#left-column-holder {
	float: left;
	/* max-width: 323px; */
	width: 367px;
	/* border exists for debugging */
	/* border: 1px solid; */
    left: -167px;
    position: relative;
    bottom: 3px;
}

#intro {
	float: left;
	/* for debugging */
	border: 1px solid #e5e6e9 #dfe0e4 #d0d1d5;
	width: 367px;
	height: 200px;
	background-color: white;
	border-radius: 8px;
}

#photos-section {
	width: 367px;
/* 	for debugging
 */	border:  1px solid #e5e6e9 #dfe0e4 #d0d1d5;
 	height: 300px;
 	background-color: white;
 	position: relative;
 	top: 215px;
 	border-radius: 8px;
 	/* border-color: #e5e6e9 #dfe0e4 #d0d1d5; */
}

#photos-section img {
	height:  130px;
	width:  119px;
	position: relative;
	bottom: 185px;
}

#photos-section p {
	position: relative;
	bottom: 194px;
    left: 50px;
    font-size: 12pt;
    font-family: sans-serif;
}

#photos-sprite {
	height:  24px;
	width: 24px;
	background-position: -62px -87px;
	background-size: 171px 124px;
	background-image: url('fb-sprite-6.png');
	position: absolute;
	top: 3px;
    left: 12px;
}

#right-column-holder {
	float: right;
	width: 460px;
    position: relative;
    /* border exists for debugging */
    /* border: 1px solid; */
/*     right: -274px;
 */ bottom: 307px;
 	height:  900px;
}

#status-blank {
	/* border exists for debugging */
	/* border:  1px solid; */
	height:  200px;
	background-color: white;
	border-radius: 5px;
	position: relative;
	top: 5px;
}

#status-icon-box {
	height: 40px;
	width:  460px;
	border-bottom: 1px solid #e5e5e5;
	background-color: #F6F7F9;
	font-family: sans-serif;
	font-size: 10pt;
	color: #365899;
	font-weight: bold;
	border-radius: 5px;
}

#status-space {
	float:  left;
	position: relative;
    left: 44px;
    top: 9px;
}

#status-space2 {
	float: left;
	position: relative;
	left: 108px;
    top: 9px;
}

.status-sprite {
	float:  left;
	height:  30px;
	width: 30px;
}

#pencil {
	background-size: 27px 287px;
	background-image: url('interactive_sprites_fb.png');
	background-position: 0 -132px;
	display: inline-block;
	height:  16px;
	width: 16px;
	margin-left: 27px;
	position: relative;
    right: 15px;
    top: 7px;
}

#pencil p {
	position: relative;
	left: 22px;
    top: 1px;
}

#camera {
	background-image: url('fb-sprite-4.png');
	background-size: 145px 293px;
	background-position: -98px -197px;
	display: inline-block;
	height: 16px;
	width: 16px;
	margin-left: 60px;
	position: relative;
	top: 7px;
}

#camera p {
	position: relative;
    left: 25px;
    width: 88px;
}

#flag {
	background-image: url('interactive_sprites_fb.png');
	display: inline-block;
	height: 16px;
	width: 25px;
	background-position: 0 -98px;
	background-size: 27px 287px;
	margin-left: 120px;
	position: relative;
	top: 7px;
}

#flag p {
	position: relative;
	left: 30px;
    width: 70px;
}

#status-posted {
	border:  1px solid;
	position: relative;
    top: 13px;
    height: 200px;

}

#status-input-area {
	position: relative;
}

#status-pic {
	height: 40px;
	width: 40px;
	border:  1px solid black;
	position: relative;
	top: 10px;
    left: 10px;
}

#filler-text {
	position: relative;
	left: 80px;
    top: -18px;
    padding-bottom: 55px;
    color: #90949C;
    font-family: sans-serif;
    font-size: 14pt;
}

#status-hr {

}
#click-to-post {
	position: relative;
    right: 10px;
    bottom: 10px;
}

#click-to-post button {
	margin-right: 10px;
	width: 60px;
    height: 28px;
}

/* finish left col, start right column this weekend */
/* for intro: all the pics with class: intro photos get same url - only bkgd pos applies to indiv sprites */

.intro-photos {
	background-image: url('fb-sprite-4.png');
}

#padded-globe {
	width: 24px;
    height: 24px;
    background-position: -120px -86px;
    background-size: 145px 293px;
    position: relative;
    left: 12px;
    margin-bottom: 15px;
    margin-top: 18px;
}

#padded-globe p {
	position: relative;
	left: 35px;
    top: 4px;
}

#mini-plus {
	width: 16px;
    height: 16px;
    background-image: url('interactive_sprites_FB.png');
    background-position: 0 -81px;
    background-size: 27px 287px;
    position: relative;
    left: 15px;
    margin-bottom: 40px;
}

#mini-plus p {
	position: relative;
	width: 200px;
	left: 30px;
	color: #4080ff;
}

hr {
	height: 0;
	width: 340px;
    margin-top: -18px;
    margin-bottom: 20px;

}

#loc-marker {
	width: 12px;
    height: 12px;
    background-image: url('interactive_sprites_FB.png');
    background-position: -13px -248px;
    background-size: 27px 287px;
    position: relative;
    left: 17px;
    margin-bottom: 25px;
}

#loc-marker p {
	position: relative;
	width: 200px;
	left:  28px;
}

#photo-add {
	width: 16px;
    height: 16px;
    background-image: url('fb-sprite-5.png');
    background-position: 0 -224px;
    background-size: 35px 887px;
    position: relative;
    left: 14px;
    top: 5px;
}

#photo-add p {
	position: relative;
	width: 200px;
	left: 29px;
	color: #4080ff;
}